@media screen and (max-width: 480px), screen and (max-height: 480px) {
    .author__column {
        justify-content: center;
    }
    .author__job {
       width: auto;
    }

    @media screen and (max-width: 414px){
        .author__column {
            font-size: 12px;
        }
        .author__job {
            padding-right: 5px;
        }
        .author__name {
            padding-left: 5px;
        }
    }

    @media screen and (max-width: 375px){
        .author__column {
            font-size: 11px;
        }
        .author__job {
            padding-right: 4px;
        }
        .author__name {
            padding-left: 4px;
        }
    }

    @media screen and (max-width: 320px){
        .author__column {
            font-size: 5px;
        }
        .author__job {
            padding-right: 2px;
        }
        .author__name {
            padding-left: 2px;
        }
    }
    
}